body {
    font-family: 'Alegreya Sans', sans-serif;
}
.heading,
.content {
    text-align: center;
}
.heading h1 {
    font-size: 4.5rem;
    font-weight: lighter;
}
.instructions {
    width: 60%;
    text-align: center;
    margin: 1.5rem auto;
}
.instructions p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.05rem;
}
.input {
    margin-bottom: 2rem;
}
#inputValue:focus,
#calculate:focus,
#clear:focus {
    outline: none;
}
.result #list {
    display: block;
    list-style: none;
}
